.contact {
    background-image: url('../../assets/contactCont.png');
    height: 600px;
    width: 100%;
    flex-shrink: 0;
    mix-blend-mode: multiply;
}

/* button, */
input {
    width: 566px;
}

.phoneSet {
    width: 190px;
    flex-shrink: 0;
    position: absolute;
    top: 165px;
    right: 50px;
}


@media (max-width: 768px) {
    /* button, */
    input {
        width: 355px;
    }
}

@media (max-width: 1060px) {
    .phoneSet {
        display: none;
    }
}